body {
    background-image: url("store.jpg");
    box-sizing: border-box;
    min-width: 100%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 100px;
    padding: 10px;
    background:rgba(255,255,255, 0.9);
    border-radius: 5px;
    box-shadow: inset 0 5px 9px #ddd8d0;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #3a5c66;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #3a5c66;
}

p {
    color: #3a5c66;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #e65e35;
}

#save-btn {
    background: #9fce58;
}

#clear-btn {
    background: #827b74;
}

@media (max-width: 780ppx) {
  .container { 
      margin: 8px;
      opacity: 0.8;
  }
#centered {
    background-position: center;
}
